@import './scrollbar';

body {
  margin: 0;
}

a {
  color: white;
  font-weight: 700;
}

mat-card {
  // Force mat-card-actions to have no bottom margin, even if it's not the last
  // child. This lets us add a app-loading-spinner to the bottom of a card
  // nicely.
  mat-card-actions.mat-card-actions {
    padding-bottom: 0;
    margin-bottom: -16px;
  }
}
