<md-toolbar color="primary">
  ARP Simulator
</md-toolbar>

<md-card class="container">

  <md-card-title>Configuration</md-card-title>

  <md-card-content>
    <form (ngSubmit)="start()" fxLayout="row" fxLayoutWrap="wrap">

      <md-card>
        <md-card-subtitle>Agents</md-card-subtitle>
        <md-card-content fxLayout="column">
          <md-input-container>
            <input name="police" [(ngModel)]="config.agents.police"
                type="number" mdInput placeholder="Police" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="civilian" [(ngModel)]="config.agents.civilian"
                type="number" mdInput placeholder="Civilians" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="offender" [(ngModel)]="config.agents.offender"
                type="number" mdInput placeholder="Offenders" [disabled]="running">
          </md-input-container>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-subtitle>Arena</md-card-subtitle>
        <md-card-content fxLayout="column">
          <md-input-container>
            <input name="arenaWidth" [(ngModel)]="config.arena.width"
                type="number" mdInput placeholder="Width" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="arenaHeight" [(ngModel)]="config.arena.height"
                type="number" mdInput placeholder="Height" [disabled]="running">
          </md-input-container>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-subtitle>Simulation</md-card-subtitle>
        <md-card-content fxLayout="column">
          <md-input-container>
            <input name="totalTicks" [(ngModel)]="config.ticks.total"
                type="number" mdInput placeholder="Total Ticks" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="dayTicks" [(ngModel)]="config.ticks.day"
                type="number" mdInput placeholder="Ticks per Day" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="seed" [(ngModel)]="config.ticks.seed"
                type="number" mdInput placeholder="RNG Seed" [disabled]="running">
          </md-input-container>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-subtitle>Civilian Behavior</md-card-subtitle>
        <md-card-content fxLayout="column">
          <md-input-container>
            <input name="homeTicksMean" [(ngModel)]="config.civilians.homeTicksMean"
                type="number" mdInput placeholder="Mean Ticks at Home" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="homeTicksDeviation" [(ngModel)]="config.civilians.homeTicksDeviation"
                type="number" mdInput placeholder="Standard Deviation of Ticks At Home" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="wealthMean" [(ngModel)]="config.civilians.wealthMean"
                type="number" mdInput placeholder="Mean Wealth" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="wealthDeviation" [(ngModel)]="config.civilians.wealthDeviation"
                type="number" mdInput placeholder="Standard Deviation of Wealth" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="payRate" [(ngModel)]="config.civilians.payRate"
                type="number" mdInput placeholder="Income per pay cycle (two weeks)" [disabled]="running">
          </md-input-container>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-subtitle>Offender Behavior</md-card-subtitle>
        <md-card-content fxLayout="column">
          <md-input-container>
            <input name="stealAmount" [(ngModel)]="config.offenders.stealAmount"
                type="number" mdInput placeholder="Amount stolen when robbed" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="cooldown" [(ngModel)]="config.offenders.cooldown"
                type="number" mdInput placeholder="Amount of ticks before an agent can offend again" [disabled]="running">
          </md-input-container>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-subtitle>Economy</md-card-subtitle>
        <md-card-content fxLayout="column">
          <md-input-container>
            <input name="unemployment" [(ngModel)]="config.civilians.unemployment"
                type="number" mdInput placeholder="Initial Unemployment Rate (%)" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="hiringRate" [(ngModel)]="config.civilians.hiringRate"
                type="number" mdInput placeholder="Hiring Rate per Year (%)" [disabled]="running">
          </md-input-container>
          <md-input-container>
            <input name="firingRate" [(ngModel)]="config.civilians.firingRate"
                type="number" mdInput placeholder="Firing Rate per Year (%)" [disabled]="running">
          </md-input-container>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-subtitle>Status</md-card-subtitle>
        <md-card-content fxLayout="column">
          <p>Message: {{ status$ | async }}</p>
          <p>Progress: {{ progress$ | async }}%</p>

          <md-progress-spinner
            mode="determinate" [value]="progress$ | async"
          ></md-progress-spinner>

          <button *ngIf="!running"
              type="submit" md-raised-button color="primary">
            Start
          </button>
          <button *ngIf="running"
              type="button" md-raised-button color="warn"
              (click)="stop()">
            Stop
          </button>
        </md-card-content>
      </md-card>

    </form>
  </md-card-content>

</md-card>
