<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{ group?.title }}</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field>
    <mat-select *ngIf="typeControl" [formControl]="typeControl" placeholder="Type">
      <mat-option
          *ngFor="let type of group?.types"
          [value]="type.value"
      >{{ type.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="formGroup$ | async as formGroup" [formGroup]="formGroup">
    <mat-form-field *ngFor="let control of group?.controls[typeControl?.value]">
      <input
          [formControlName]="control.name"
          [type]="control.type"
          [placeholder]="control.placeholder"
          matInput>
      <mat-error><app-input-error></app-input-error></mat-error>
    </mat-form-field>
  </ng-container>

</mat-expansion-panel>
