<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{ section?.title }}</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="type" *ngIf="typeControl">
    <mat-select [formControl]="typeControl" placeholder="Type">
      <mat-option
          *ngFor="let type of types"
          [value]="type.id"
      >{{ type.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="formGroup$ | async as formGroup" [formGroup]="formGroup">
    <mat-form-field *ngFor="let control of group?.controls">
      <input
          [formControlName]="control.id"
          [type]="control.type"
          [placeholder]="control.placeholder"
          matInput>
      <mat-error><app-input-error></app-input-error></mat-error>
    </mat-form-field>
  </ng-container>

</mat-expansion-panel>
