/* You can add global styles to this file, and also import other style files */

$material-font-path: "~material-design-icons-font/iconfont/";
@import '~material-design-icons-font/iconfont/material-icons.scss';

$roboto-font-path: "~roboto-fontface/fonts";
@import '~roboto-fontface/css/roboto/sass/roboto-fontface.scss';

@import 'styles/theme';

html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

// We often put a spinner inside a card, after the actions block.  Material has
// a CSS rule that removes the bottom margin from the last child of a card.
// Since the spinner comes after the actions, the actions will have a bottom
// margin.  Force the actions block to never have a margin.
md-card-actions.mat-card-actions {
  margin-bottom: -16px;
}
